<!DOCTYPE html>
<html>
    <head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script> <small class="text-muted">{{ message }}</small>
            </head>
<body>
<h2>	<marquee> {{ message }} </marquee></h2>
	<marquee direction="right"
		behavior="alternate"
        style="border: lime 2px SOLID"
        style="text-decoration: double"
        style="color: blue">
    <small class="text-muted">{{ title }}</small>
    </marquee>
    <marquee direction="left"
    behavior="alternate"
    style="text-align: center"
   ><strong>{{ content }}</strong></marquee>
</body>
</html>
